# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# WeChat iLink API client
LIMITER_STORE=database
ILINK_APP_ID=bot
ILINK_APP_CLIENT_VERSION=132104
ILINK_CHANNEL_VERSION=2.4.8
ILINK_BOT_AGENT=OpenClaw
ILINK_BASE_URL=https://ilinkai.weixin.qq.com
ILINK_CDN_BASE_URL=https://novac2c.cdn.weixin.qq.com/c2c
ILINK_BOT_TYPE=3
MEDIA_STORAGE_PATH=data/media

# Session
SESSION_DRIVER=cookie
